@{
    ViewData["Title"] = "Số điện thoại đã xác minh";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Cảm ơn bạn đã xác nhận số điện thoại của mình.
    </p>
    <a asp-action="Index" asp-controller="Home">Back to home</a>
</div>