@{
    ViewData["Title"] = "About";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>MetsubouJinrai.net (滅亡 迅雷 ネ ッ ト Metsubō Jinrai Netto, litt. "DownfallThunderclap.net") là một nhóm khủng bố mạng do Horobi lãnh đạo. Mục tiêu của nó là, theo ý muốn của Ark, dẫn đến sự tuyệt chủng của loài người bằng cách hack Humagears và biến chúng thành Magia. Sau khi kết thúc cuộc xung đột Người-Humagear, MetsubouJinrai.net đã cải tổ với mục tiêu mới là theo dõi ác tâm của thế giới và ngăn chặn một Ark mới xuất hiện. Kết quả của việc biến thành Kamen Rider MetsubouJinrai, tâm trí của cả bốn thành viên được kết hợp và bị đàn áp bởi Hệ thống Massbrain, cơ thể của họ đã bị phá hủy bởi Rider hợp nhất.</p>
</div>

