@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng bạn đến với Kamen Rider Wiki</h1>
</div>



@section Footer{
    <partial name="/Views/Shared/_Footer.cshtml" />
}