@{
    Layout = "/Views/Shared/_TestLayout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Welcome MyBlog 2021</h1>
</div>

@section Footer{
    <partial name="/Views/Shared/_Footer.cshtml" />
}