@model TwoStepModel

@{
    ViewData["Title"] = "Two-factor authentication";
}

<h2>@ViewData["Title"]</h2>
<hr />
<form asp-controller="Account" asp-action="LoginTwoStep" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <input asp-for="RememberMe" type="hidden" />
    <div class="row">
        <div class="col-md-8">
            Chọn phương thức xác minh:
            <select asp-for="SelectedProvider" asp-items="Model.Providers"></select>
            <button type="submit" class="btn btn-default">Gửi</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}